.bannière{
    width: 100%;
}

.contentabout{
font-family: 'League Spartan', sans-serif;   
}

 .titrecv-container {
            width: 100%;
            background: linear-gradient(270deg, #1b1a1a, #004aad);
            border-top: 4px solid white;
            border-bottom: 4px solid white;
            overflow: hidden;
            position: relative;
            padding-top: 1rem;
            margin-top: -1rem;
        }

        .titrecv-text {
            font-size: 80px;
            font-weight: bold;
            color: white;
            white-space: nowrap;
            animation: scrollRight 8s linear infinite;
            padding: 20px 0;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
        }

        /* Animation de défilement de droite à gauche */
        @keyframes scrollRight {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }

        

        /* Responsive */
        @media (max-width: 768px) {
            .scrolling-text {
                font-size: 50px;
            }
            .titrecv-text {
            font-size: 50px;
            }
        }

        @media (max-width: 480px) {
            .scrolling-text {
                font-size: 35px;
            }
            .titrecv-text {
            font-size: 35px;
            }
        }



           .carousel {
            position: relative;
            z-index: 1;
            height: 100vh;
            overflow: hidden;
            pointer-events: none;
            background: linear-gradient(90deg, #004aad, #1b1a1a);
             font-family: 'League Spartan', sans-serif;
             font-weight: bold;

          }

          .carousel-item {
            --items: 10;
            --width: clamp(150px, 30vw, 300px);
            --height: clamp(200px, 40vw, 400px);
            --x: calc(var(--active) * 800%);
            --y: calc(var(--active) * 200%);
            --rot: calc(var(--active) * 120deg);
            overflow: hidden;
            position: absolute;
            z-index: var(--zIndex);
            width: var(--width);
            height: var(--height);
            margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
            border-radius: 10px;
            top: 50%;
            left: 50%;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transform-origin: 0% 100%;
            box-shadow: 0 10px 50px 10px rgba(0, 0, 0, 0.5);
            background: black;
            pointer-events: all;
            transform: translate(var(--x), var(--y)) rotate(var(--rot));
            transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
          }

          .carousel-item .carousel-box {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
            opacity: var(--opacity);
          
          }

          .carousel-item .carousel-box:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5));
          }

          .carousel-item .title {
            position: absolute;
            z-index: 1;
            color: #fff;
            bottom: 20px;
            left: 20px;
            transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
            font-size: clamp(20px, 3vw, 30px);
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
          }

          .carousel-item .num {
            position: absolute;
            z-index: 1;
            color: #fff;
            top: 10px;
            left: 20px;
            transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
            font-size: clamp(20px, 10vw, 80px);
          }

          .carousel-item img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            pointer-events: none;
          }

          .layout {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
          }

          .layout:before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 0;
            left: 90px;
            width: 10px;
            height: 100%;
            border: 1px solid #fff;
            border-top: none;
            border-bottom: none;
            opacity: 0.15;
          }

          .layout .box {
            position: absolute;
            bottom: 0;
            left: 30px;
            color: #fff;
            transform-origin: 0% 10%;
            transform: rotate(-90deg);
            font-size: 9px;
            line-height: 1.4;
            text-transform: uppercase;
            opacity: 0.4;
          }


          .social {
            position: absolute;
            z-index: 10;
            bottom: 20px;
            right: 25px;
            color: #fff;
            opacity: 0.4;
          }

          .social a {
            display: inline-block;
            margin-left: 3px;
          }

          .social svg {
            --fill: #fff;
            width: 35px;
            height: 35px;
          }

          .cursor {
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            --size: 40px;
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.2);
            margin: calc(var(--size) * -0.5) 0 0 calc(var(--size) * -0.5);
            transition: transform 0.85s cubic-bezier(0, 0.02, 0, 1);
            display: none;
            pointer-events: none;
          }

          @media (pointer: fine) {
            .cursor {
              display: block;
            }
          }

          .cursor2 {
            --size: 2px;
            transition-duration: 0.7s;
          }



          .moi {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background: linear-gradient(90deg, #004aad, #1b1a1a);
          }

          .aproposdemoi {
            display: flex;
            align-items: center;
          }

          .aproposdemoi h1 {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: x-large;
          }

          @media (max-width: 910px) {
            .aproposdemoi h1 {
              font-size: medium;
            }
          }

          .rouge {
            color: #fd3030;
          }

          .bleu {
            color: #3c74ba;
          }

          .jaune {
            color: #fecb66;
          }

          .blanc {
            color: #fff;
          }

          .container10 {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 auto;
            margin-top: 2rem;
          }

          .border {
            height: 369px;
            width: 290px;
            background: transparent;
            border-radius: 10px;
            transition: border 1s;
            position: relative;
          }

          .border:hover {
            border: 1px solid white;
          }

          .card {
            height: 379px;
            width: 300px;
            background: grey;
            border-radius: 10px;
            transition: background 0.8s;
            overflow: hidden;
            background: black;
            box-shadow: 0 70px 63px -60px #000000;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
          }

          .card0 {
            background-image: url("images/trombone.jpg");
            background-size: 300px;
            background-position: center center;
            background-repeat: no-repeat;
          }

          .card0:hover {
            background-image: url("images/trombone.jpg");
            background-size: 600px;
            background-position: left center;
            background-repeat: no-repeat;
          }

          h2 {
            font-family: 'akaPosse', sans-serif;
            color: #fd3030;
            margin: 20px;
            opacity: 0;
            transition: opacity 1s;
          }

          .card0:hover h2 {
            opacity: 1;
          }

          .fa {
            opacity: 0;
            transition: opacity 1s;
          }

          .card0:hover .fa {
            opacity: 1;
          }

          .iconsss {
            position: absolute;
            fill: #fff;
            height: 130px;
            top: 226px;
            width: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
          }

          .iconsss .bx {
            color: #fff;
          }

          .description {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.5rem;
            line-height: 1.8;
            border-radius: 1rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            color: #fff;
            padding: 20px;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            margin-top: 1rem;
          }

          .description:hover {
            transform: scale(0.999);
          }

          /* Media queries */
          @media (max-width: 1200px) {
            .description {
              font-size: 1.1rem;
              /* Taille du texte réduite */
              padding: 15px;
              /* Espacement intérieur réduit */
            }
          }

          @media (max-width: 768px) {
            .description {
              font-size: 0.8rem;
              /* Taille du texte encore réduite */
              padding: 10px;
              /* Espacement intérieur encore réduit */
            }
          }

          @media (max-width: 480px) {
            .description {
              font-size: 0.5rem;
              /* Taille du texte encore plus réduite */
              padding: 5px;
            }
          }

          .moncv {
            width: 200px;
            object-fit: cover;
            border: 0.5rem solid #000000;
            border-radius: 50%;
            margin-bottom: 2rem;

          }

          .telecv {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: baseline;
            align-content: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
           
          }

         .titrecv {
            color: white;
            font-size: 4rem;
            font-weight: bold;
             margin-top: 2rem;
              margin-bottom: 2rem;
            }



          .btn-download {
            display: inline-block;
            padding: 15px 30px;
            
            font-size: 1.2rem;
            color: #fff;
            background-color: #fd3030;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
            margin-left: 2rem;
            border: solid 0.002rem;
            border-color: #000000;

          }

          .btn-download:hover {
            background-color: #992020;
            /* Couleur bleue plus sombre au survol */
            transform: scale(1.05);
            /* Légère augmentation de taille au survol */
            border: none;
          }

          /* Media Queries */
          @media (max-width: 1200px) {
            .titrecv {
              font-size: 2.8rem;
            }

            .btn-download {
              font-size: 1rem;
              padding: 10px 20px;
            }
          }

          @media (max-width: 768px) {
            .telecv {
              margin-bottom: -0.5rem;
            }

            .moncv {
              width: 60%;
            }

            .telecv {
              flex-direction: column;
              align-items: center;
            }

            .titrecv {
              font-size: 2rem;
            }

            .btn-download {
              font-size: 0.9rem;
              padding: 8px 16px;
              margin-left: 0;
              /* Remove left margin for center alignment */
              margin-top: 1rem;
              /* Add top margin for spacing */
            }
          }

          @media (max-width: 480px) {
            .telecv {
              margin-bottom: 0rem;
            }

            .moncv {
              width: 40%;
            }

            .titrecv {
              font-size: 1.5rem;
            }

            .btn-download {
              font-size: 0.8rem;
              padding: 6px 12px;
            }
          }

          /* Styles par défaut des activités */

          .mesactis {
            justify-content: center;
          }

          .mesactis a {
            color:white;
          }

          .mesactis a:hover {
            color:  #fecb66;
            text-decoration: none;
          }

          .sportives,
          .musicales {
            display: flex;
            color: #fecb66;
            font-size: x-large;
            justify-content: center;
            font-weight: bold;
            padding-top: 1rem;
          }

          

          .sport,
          .musique {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin-bottom: 2rem;
            gap: 1em;
          }

          .sport img,
          .musique img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 2px solid #000;
          }

          .sport img:hover,
          .musique img:hover {
            transform: scale(1.05);
          }

          .sport img::after,
          .musique img::after {
            content: "En savoir +";
            position: absolute;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 1;
          }

        

          .handphoto,
          .velo,
          .tennis,
          .course,
          .trombone,
          .aema {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            font-size: large;
            text-align: center;
            margin-bottom: 4rem;
          }



          /* Media Queries */

          /* Mobile */
          @media (max-width: 600px) {

            .sportives,
            .musicales {
              font-size: large;
              /* Réduire la taille de la police sur mobile */
              margin-top: -1rem;
              /* Ajuster la marge */
            }

            .sport,
            .musique {
              flex-direction: column;
              /* Passer en colonne pour les petits écrans */
            }

            .sport img,
            .musique img {
              width: 150px;
              /* Réduire la taille des images */
              height: 150px;
            }

            .sport img::after,
            .musique img::after {
              font-size: 1rem;
              /* Réduire la taille du texte */
            }
          }

          /* Tablette */
          @media (min-width: 601px) and (max-width: 1024px) {

            .sportives,
            .musicales {
              font-size: x-large;
              /* Ajuster la taille de la police */
              margin-top: -2rem;
              /* Ajuster la marge */
            }

            .sport img,
            .musique img {
              width: 175px;
              /* Ajuster la taille des images */
              height: 175px;
            }

            .sport img::after,
            .musique img::after {
              font-size: 1.25rem;
              /* Ajuster la taille du texte */
            }
          }

          /* Bureau */
          @media (min-width: 1025px) {

            .sportives,
            .musicales {
              font-size: xx-large;
              /* Garder la taille de police initiale */
              margin-top: -2.8rem;
              /* Garder la marge initiale */
            }

            .sport img,
            .musique img {
              width: 200px;
              /* Garder la taille des images initiale */
              height: 200px;
            }

            .sport img::after,
            .musique img::after {
              font-size: 1.5rem;
              /* Garder la taille du texte initiale */
            }
          }

          /* Media Query spécifique pour écrans jusqu'à 800px */
          @media (max-width: 800px) {

            .sport img,
            .musique img {
              width: 160px;
              height: 160px;
              /* Ajustement des images */
            }
          }

          .langues {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 5em;
            margin-top: 1rem;
            margin-bottom: 6rem;
          }

          .langues img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 2px solid #000;
          }

          /* Écrans jusqu'à 1024px (tablettes) */
@media (max-width: 1024px) {
    .langues {
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .langues img {
        width: 120px;
        height: 120px;
    }
}

/* Écrans jusqu'à 768px (mobiles moyens) */
@media (max-width: 768px) {
    .langues {
        flex-direction: column;
        gap: 1rem;
    }

    .langues img {
        width: 100px;
        height: 100px;
    }
}

/* Écrans jusqu'à 480px (petits mobiles) */
@media (max-width: 480px) {
    .langues {
        flex-direction: column;
        gap: 0.8rem;
        margin-top: 0;
    }

    .langues img {
        width: 80px;
        height: 80px;
        border: 1px solid #000;
    }
}


          .NIVEAU {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 1em;
            font-weight: bold;
           
          }

          .sportive {
            display: flex;
            color: #fecb66; 
            font-size: x-large;
            justify-content: center;
            font-weight: bold;
          }


          .Formations {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            gap: 5rem;
          }

          .Formations img {
            max-width: 300px;
            height: 150px;
            border-radius: 7%;

          }
          /* Écrans jusqu'à 1024px (tablettes) */
@media (max-width: 1024px) {
    .Formations {
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    .NIVEAU img {
        max-width: 250px;
        height: auto;
    }

    .NIVEAU p {
        font-size: large;
        text-align: center;
    }
}

/* Écrans jusqu'à 768px (mobiles moyens) */
@media (max-width: 768px) {
    .Formations {
        flex-direction: column;
        gap: 2rem;
    }

    .NIVEAU img {
        max-width: 200px;
    }

    .NIVEAU p {
        font-size: medium;
        text-align: center;
    }
}

/* Écrans jusqu'à 480px (petits mobiles) */
@media (max-width: 480px) {
    .Formations {
        flex-direction: column;
        gap: 1.5rem;
    }

    .NIVEAU img {
        max-width: 150px;
        height: auto;
        border-radius: 10%;
    }

    .NIVEAU p {
        font-size: small;
        text-align: center;
    }
}

        .exper{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            margin-top: 4rem;
            }

          .experiences {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            width: 95%;
            margin-bottom: 2rem;
          }

          .sncf {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 1em;
            margin-top: -1rem;
            position: relative;
            width: 40%;
            font-weight: bold;
          }

          .sncf img {
            width: 250px;
            height: 140px;

          }

          .sncf1 {
            display: flex;
            color: #fecb66;
            font-family: 'akaPosse', sans-serif;
            font-size: x-large;
            justify-content: center;
            align-items: center;
            margin-top: -0.008rem;
             margin-bottom: 2.8rem;
            width: 250px;
            top: 100%;
            left: 35%;
          
            
          }


          .colo {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
                ". colo3 colo1 colo1"
                "colo2 colo2 colo1 colo1";
            gap: 1.5rem;
            justify-content: center;
            margin: 20px auto;
            align-items: center;
            position: relative;
            width: 60%;
            margin: 1rem; 

          }

          .colo a {
              display: block;
              width: 100%;
              height: 100%;
              position: relative;
          }

          .colo img {
              width: 100%;
              height: 100%;
              border-radius: 10%;
              border: 4px solid #000;
              object-fit: cover;
              transition: transform 0.3s ease-in-out;
          }

          #colo1 {
              grid-area: colo1;
              transform: scale(1) rotate(3deg);
              margin-right: 4rem;
          }

          #colo1:hover {
              transform: scale(1.1) rotate(3deg);
          }

          #colo2 {
              grid-area: colo2;
              transform: scale(1) rotate(-1deg);
          }

          #colo2:hover {
              transform: scale(1.1) rotate(-1deg);
          }

          #colo3 {
              grid-area: colo3;
              transform: scale(1) rotate(4deg);
          }

          #colo3:hover {
              transform: scale(1.1) rotate(4deg);
          }
          /* Écrans jusqu'à 1024px (tablettes) */
@media (max-width: 1024px) {
    .experiences {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .sncf {
        width: 80%;
        text-align: center;
    }

    .sncf img {
        width: 200px;
        height: auto;
    }

    .sncf1 {
        font-size: large;
        width: 80%;
    }

    .colo {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "colo1 colo2"
            "colo3 colo4";
        gap: 1rem;
        width: 60%;
    }
}

/* Écrans jusqu'à 768px (mobiles moyens) */
@media (max-width: 768px) {
    .experiences {
        flex-direction: column;
        gap: 1.5rem;
    }

    .sncf {
        width: 90%;
    }

    .sncf img {
        width: 180px;
    }

    .sncf1 {
        font-size: medium;
        width: 90%;
        text-align: center;
    }

    .colo {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "colo1"
            "colo2"
            "colo3"
            "colo4";
        width: 90%;
    }

    .colo img {
        border-radius: 15px;
        border: 2px solid #000;
    }
}

/* Écrans jusqu'à 480px (petits mobiles) */
@media (max-width: 480px) {
    .experiences {
        flex-direction: column;
        gap: 1rem;
    }

    .sncf {
        width: 100%;
        margin-bottom: 2rem;
    }

    .sncf img {
        width: 150px;
    }

    .sncf1 {
        font-size: small;
        width: 50%;
        
    }

    .colo {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "colo1"
            "colo2"
            "colo3"
            "colo4";
        width: 80%;
        gap: 0.5rem;
    }

    .colo img {
        border-radius: 10px;
        border: 2px solid #000;
    }
    .colo p{
      font-size:medium;
      margin-top: 0.5rem;
    }
}


      