@import url('https://fonts.googleapis.com/css2?family=Alike&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  .fixed-return {
    position: fixed;
    bottom: 20px;
    left: 90%;
    transform: translateX(-50%);
    background-color: #fd3030;
    color: white;
    padding: 18px 35px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
  }

  .fixed-return:hover {
    background-color: #ffbaba99;
  }
/*header*/
header {
    padding: 40px 0;
}

header > h1 {
    font-family: "Tomorrow", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

/* Section */
.section1, .section-usain-bolt, .section-basket, .section-jo, .section-piscine{
    position: relative;
    padding: 2rem;
    font-family: "Tomorrow", sans-serif;
    margin: 0 auto;
}

#maradona, #usain-bolt-title, #basket-title, #jo-title, #piscine-title{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    max-width: 60%;
    line-height: 1.1;
}

#usain-bolt-title, #jo-title {
    margin-left: auto;
    text-align: right;
}

#number-block, #usain-bolt-number, #basket-number, #jo-number, #piscine-number{
    position: absolute;
    font-size: 20rem;
    font-weight: bold;
    line-height: 0.8;
    z-index: 0;
    top: -60px;
}

/* Numéros à droite */
#number-block, #basket-number {
    right: -30px;
    color: #E8B94A;
}

#basket-number {
    color: #2D5698;
    right: -30px;
}

/* Numéros à gauche */
#usain-bolt-number, #jo-number {
    left: -50px;
}

#usain-bolt-number {
    color: #205C42;
}

#jo-number {
    color: #D22D31;
}

.desrcpiton, .usain-bolt-description, .basket-description, .jo-description, .piscine-description {
    display: flex;
    width: 100%;
    position: relative;
    line-height: 1.5;
    gap: 30px;
    align-items: center;
}

.maradonapara, .usain-bolt-text, .basket-text, .jo-text, .piscine-text {
    width: 55%;
}

.imgmara, .usain-bolt-image, .basket-image, .jo-image, .piscine-image {
    width: 45%;
}

.imgmara img, .usain-bolt-image img, .basket-image img, .jo-image img, .piscine-image img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
    display: block;
}

.usain-bolt-description {
    flex-direction: row;
    text-align: right;
}

.jo-description {
    flex-direction: row-reverse;
    text-align: right;
}

.basket-description {
    flex-direction: row-reverse;
}

.piscine-description {
    flex-direction: row-reverse;
}
/*********************************************** Animation Maradona ***************************************************/
.e {
    position: relative;
    margin-bottom: 100px;
    height: 500px; 
    display: flex;
    justify-content: center;
}

.maradona, .maradonagoal {
    width: 500px;
    height: 500px;
    position: absolute;
    transform: scale(0.5);
    opacity: 0;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

.appear {
    transform: scale(1);
    opacity: 1;
}

/*************************************** Animation Piscine ************************************************************/


.tt {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .imgf {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
  }

  .imgf img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
  }

  .nageur1, .nageur2, .nageur4, .nageur5, .nageur6, .nageur7, .nageur8 {
    background: firebrick;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
  }

  .nageur1 { top: 17.5%; left: 72.5%; }
  .nageur2 { top: 26.5%; left: 72.5%; }
  .nageur4 { top: 43.5%; left: 72.5%; }
  .nageur5 { top: 52.2%; left: 72.5%; }
  .nageur6 { top: 60.8%; left: 72.5%; }
  .nageur7 { top: 69.8%; left: 72.5%; }
  .nageur8 { top: 78.8%; left: 72.5%; }

  .nageurimg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top: 35%;
    left: 72.5%;
  }

  .nageurimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* Mobile version */
@media screen and (max-width: 768px) {

    /* Header */
    header {
        padding: 20px 0;
    }

    header > h1 {
        font-size: 2rem;
        padding: 0 1rem;
    }

    /* Section */
    .section1, .section-usain-bolt, .section-basket, .section-jo {
        padding: 1rem;
    }

    #maradona, #usain-bolt-title, #basket-title, #jo-title {
        font-size: 2rem;
        max-width: 100%;
        text-align: center;
    }

    /* Images */
    .imgmara img, .usain-bolt-image img, .basket-image img, .jo-image img {
        height: 200px; 
    }

    /* Description layout */
    .desrcpiton, .usain-bolt-description, .basket-description, .jo-description {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .maradonapara, .usain-bolt-text, .basket-text, .jo-text {
        width: 100%;
    }

    .imgmara, .usain-bolt-image, .basket-image, .jo-image {
        width: 100%;
    }

    /* Large numbers */
    #number-block, #usain-bolt-number, #basket-number, #jo-number {
        font-size: 10rem;
        top: -30px;
    }

    .e {
        height: 300px; 
    }

    .maradona, .maradonagoal {
        width: 300px;
        height: 300px;
    }

}


/******************************************************** Animation piscine pour tel ***************************************************************/


@media (max-width: 1300px) {
    .nageur1 { top: 17.5%; left: 78%; }
  .nageur2 { top: 26.5%; left: 78%; }
  .nageur4 { top: 43.5%; left: 78%; }
  .nageur5 { top: 52.2%; left: 78%; }
  .nageur6 { top: 60.8%; left: 78%; }
  .nageur7 { top: 69.8%; left: 78%; }
  .nageur8 { top: 78.8%; left: 78%; }

  .nageurimg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top: 35%;
    left: 78%;
  }
  }

  @media (max-width: 1100px) {
    .nageur1 { top: 17.5%; left: 85%; }
  .nageur2 { top: 26.5%; left: 85%; }
  .nageur4 { top: 43.5%; left: 85%; }
  .nageur5 { top: 52.2%; left: 85%; }
  .nageur6 { top: 60.8%; left: 85%; }
  .nageur7 { top: 69.8%; left: 85%; }
  .nageur8 { top: 78.8%; left: 85%; }

  .nageurimg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top: 35%;
    left: 85%;
  }
  }

  @media (max-width: 975px) {
    .nageur1 { top: 17.5%; left: 92%; }
  .nageur2 { top: 26.5%; left: 92%; }
  .nageur4 { top: 43.5%; left: 92%; }
  .nageur5 { top: 52.2%; left: 92%; }
  .nageur6 { top: 60.8%; left: 92%; }
  .nageur7 { top: 69.8%; left: 92%; }
  .nageur8 { top: 78.8%; left: 92%; }

  .nageurimg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top: 35%;
    left: 92%;
  }
  }


  @media (max-width: 600px) {
    .nageur1 { top: 20.5%; left: 90%; }
  .nageur2 { top: 28.5%; left: 90%; }
  .nageur4 { top: 43.5%; left: 90%; }
  .nageur5 { top: 50.2%; left: 90%; }
  .nageur6 { top: 57.8%; left: 90%; }
  .nageur7 { top: 64.8%; left: 90%; }
  .nageur8 { top: 72.8%; left: 90%; }
  
  .nageurimg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    top: 36%;
    left: 90%;
  }

    .imgf img {
      max-width: 100%;
    }
    .nageur1, .nageur2, .nageur4, .nageur5, .nageur6, .nageur7, .nageur8, .nageurimg {
      width: 15px;
      height: 15px;
    }
  }
